<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</HEAD>
<body>
<div th:replace="common/navbar :: common-navbar">
</div>
<div class="container">
    <H4>Employee list</H4>
    <hr>
    <a th:href="@{/employee/add}" class="btn btn-primary btn-sm mb-3">Add employee</a>

    <div class="row">

        <!-- <h4 th:if="${#strings.toString(param.val)} == 'abc'">SOME-TEXT-1</h4>!-->

        <div th:if="${#strings.toString(param.msg)} == 'error'" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> The operation was failed
            <small th:text="${param.errorName}"></small>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${#strings.toString(param.msg)} == 'success'" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Awesome!</strong> The operation was succeed
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employeesListModel}">
                <td th:text="${employee.firstname}"></td>
                <td th:text="${employee.lastname}"></td>
                <td th:text="${employee.email}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/employee/edit/{id} (id=${employee.id})}">Modify</a>
                    <a class="btn ms-2 btn-danger" th:href="@{/employee/delete/{id} (id=${employee.id})}">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>